*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: #000;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    padding: 20px ;
}
.logo{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{
    color:#fff ;
    text-decoration:none ;
    font-size: 1.1em;
    font-weight: 500;
    padding: 10px;
    
}
.navigation a :hover{
    color: #fff;
    background-color: aquamarine;
}
.active{
    position: absolute;
    width: 60px;
    height: 50%;
    right:-15px ;
    background-color: aquamarine;
    color: aquamarine;
    transform: scale(1.1);
}
section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    background: url(cafe1.jpg)no-repeat;
    
    
}
.main h1{
    text-align: center;
    color:#fff ;
    font-size : 4.1em ;
    font-weight : 700 ;
}
.main h2{
    font-size : 20px ;
    font-weight : 700 ;
    letter-spacing : 1px ;
    margin-top : 10px ;
    margin-bottom :30
}
.main-btn{
    color : #fff ;
    background-color : #3a6cf4 ;
    text-decoration : none;
    font-size : 13px;
    font-weight : 600 ;
    display : inline - block ; 
    padding: 12px 34px;
    position: relative ;
    left: 350px;
    top: 50px;
    background-position: bottom;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 20px;
    transition: 1.7s ease;
}
.main-btn:hover{
    background-color: rebeccapurple;
    transform: scale(1.1);
}
.section{
    padding: 100px 200px;
}
.content{
    width: 120%;
    height: 500px;
    background: #fff;
    overflow: hidden;
    display: inline-block;
    
}
.cadr{
    background-color : #fff ;
    width:25.62em;
    float: left;
    box-shadow: 0 5px 25px rgba(1 1 1/ 100%);
    border-radius: 10px;
    padding: 100px;
    margin: 5px;
    transition: 0.7s ease;
    
    
    
}
.cadr h3{
    color:#000 ;
    font-size : 30px ;
    font-weight : 700 ;

}
.p{

}
.imag{
    height: 30em;
    width: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    background: url(cafe3.jpg)no-repeat;
    background-size: cover;
    background-position:center ;
    background-attachment: fixed;

}
.fort{
    width: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;

}
.fort h5{
    text-align: center;
    color:#000 ;
    font-size: 1.6em;
    font-weight : 550 ;
}
.fort h6{
    font-size : 15px ;
    font-weight : 700 ;
    letter-spacing : 1px ;
    margin-top : 10px ;
    margin-bottom :30

}
.fort-btn{
    color : #fff ;
    background-color : #3a6cf4 ;
    text-decoration : none;
    font-size : 13px;
    font-weight : 600 ;
    display : inline - block ; 
    padding: 12px 34px;
    position: relative ;
    left: 350px;
    top: 50px;
    background-position: bottom;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 20px;
    transition: 1.7s ease;

}




